<div class="nickname_container " id="nick">
    <div class="text-title user-top" role="heading"><strong><h4> Chatqe</h4></strong></div>
    <div class="container nick">
        <span class="Digt">Digite seu usuario</span>
        <form id="nickSubmit" class="">
            <div class="form-group">
                <input type="text" class="form-control" id="nickname" autofocus/>
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/nick.js"></script>