<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>


</head>
<body>
<div class="container">
    <div class=" d-flex justify-content-center">
        <div class="inner">
            <div class="text-title mb-2" role="heading"><strong><h4> Chatqe</h4></strong></div>
            <form id="submit" class="iner">
                <div class="form-group col-12">
                    <label for="exampleFormControlInput1">User</label>
                    <input type="text" class="form-control" id="user" placeholder="">
                </div>
                <div class="form-group col-12">
                    <div class="messages">

                    </div>
                </div>
                <div class="form-group col-12">
                    <label for="exampleFormControlTextarea1">Digite sua menssagem</label>
                    <input class="form-control" id="message" rows="3">
                </div>
                <div class="form-group col-12">
                    <button type="submit" class="btn btn-outline-primary  col-12 ">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const mm = $('.messages');
    const ultimo = () => {
        const tam = mm.children();
        const qtdChild = tam.length;
        mm.scrollTop(100 * qtdChild);
    }

    const renderMenssage = message => {
        $('.messages').append(`<div class="message"><strong>${message.author}</strong>: ${message.message}</div>`);
        ultimo();
    }
    var socket = io("<%= process.env.URL %>");
    socket.on('connect', function () {
    });
    socket.on('previossMessage', messages => {
        messages.map(message => renderMenssage(message));
    })
    socket.on('retornMensage', data => renderMenssage(data));
    socket.on('renderYouMessage', data => renderMenssage(data));

    $("#submit").submit(event => {
        event.preventDefault();
        const author = $("#user").val();
        const message = $("#message").val();
        if (author.length && message.length) {
            $("#message").val('');
            const messageObj = {
                author,
                message
            }
            //renderMenssage(messageObj);
            socket.emit('sendMenssage', messageObj);
        }
    });
</script>
</body>
</html>
