<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>


</head>
<body>
<%- include('components/formUser'); -%>
<div class="container">
    <div class="inner d-flex flex-column">
        <div class="user-top" id="user-top">
        </div>

        <div class="messages p-2 bd-highlight">

        </div>
        <div class="rodape">
            <form id="submit" class="iner " style="width: inherit;">
                <div class="row digite p-2 bd-highlight" style="margin-top: 1rem;">
                    <div class="form-group col-12" style="display: none">
                        <label for="exampleFormControlInput1">User</label>
                        <input type="text" class="form-control" id="user" placeholder="">
                    </div>
                    <div class="form-group col-10 " style="margin: auto">
                        <input class="form-control" id="message" rows="3" autofocus
                               placeholder="Digite sua mensagem">
                    </div>
                    <div style="margin: auto" class="form-group col-2">
                        <button type="submit" class="btn">
                            <span data-icon="send" class="">
                                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                     height="24">
                                    <path fill="#263238" fill-opacity=".45"
                                          d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z">
                                    </path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const mm = $('.messages');
    const ultimo = () => {
        const tam = mm.children();
        const qtdChild = tam.length;
        mm.scrollTop(100 * qtdChild);
    }

    const renderMenssage = message => {
        $('.messages').append(`<div class="message"><strong>${message.author}</strong>: ${message.message}</div>`);
        ultimo();
    }
    var socket = io("<%= process.env.URL %>");
    socket.on('connect', function () {
    });
    socket.on('previossMessage', messages => {
        messages.map(message => renderMenssage(message));
    })
    socket.on('retornMensage', data => renderMenssage(data));
    socket.on('renderYouMessage', data => renderMenssage(data));

    $("#submit").submit(event => {
        event.preventDefault();
        const author = $("#user").val();
        const message = $("#message").val();
        if (author.length && message.length) {
            $("#message").val('');
            const messageObj = {
                author,
                message
            }
            //renderMenssage(messageObj);
            socket.emit('sendMenssage', messageObj);
        }
    });
</script>
</body>
</html>
